<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- Botones flotantes -->
    Ir a Clientes 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-fab vertical="ion-fab-button" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="irAclientes()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
